In [1]:
%load_ext autoreload
%autoreload 2

In [172]:
cd ~/demtext

/Users/zurfarosa/demtext

In [173]:
import os
import sys

module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)

import pandas as pd
import numpy as np
from IPython.display import display

In [203]:
pd.set_option("display.width", 300)

In [204]:
pd.set_option("display.max_rows", None)

In [190]:
entries = pd.read_excel("Anna's edits v3 FINAL.xlsx",sheet_name='entries')

In [191]:
entries.head(5)

  entry id  patient id  case_pracid  staffid  gender  birthyear  Age_at_diagnosis  Dementia  number_of_words  totalkeyword  totalreadcodes  medcode  textid                                                                                              free text Read code                   Read term  eventdate SystemDate
0  FN00001      380163          163     3163       2       1916                91         0             2089            10               1    13906       0                                                                                                    NaN   442J.00       Thyroid function test 2006-07-10 2006-07-10
1  FN00002      380163          163     3163       2       1916                91         0             2089            10               1    14460       0                                                                                                    NaN   442V.00         Serum free T4 level 2006-07-10 2006-07-10
2  FN00003      380163          163     3163       2       1916                91         0             2089            10               1       63       0                                                                                                    NaN   442W.00             Serum TSH level 2006-07-10 2006-07-10
3  FN00004      380163          163     4163       2       1916                91         0             2089            10               1     2401   39220  R EYE NOW LOWER LID INFLAMED AND WATERING ++. PLAN TREAT INF THEN REV ? WILL NEED REF TO OPTHALMOLOGY   F4E1.00                   Ectropion 2006-08-31 2006-08-31
4  FN00005      380163          163    59163       2       1916                91         0             2089            10               1     3887       0                                                                                                    NaN   1A26.00  Urge incontinence of urine 2006-09-05 2006-09-05

In [241]:
FN_entries = entries.loc[entries['entry id'].str.contains('FN')]

In [250]:
FN_patids = list(set(FN_entries['patient id']))

In [2]:
# for patid in FN_patids:
#     display(FN_entries.loc[FN_entries['patient id']==patid,['patient id','Age_at_diagnosis','gender']].head(1))
#     read_terms = FN_entries.loc[(FN_entries['patient id']==patid) & (pd.isnull(FN_entries['free text'])),['eventdate','Read term']]
#     read_terms.rename(columns={'Read term':'info'},inplace=True)
#     read_terms['info'] = '#' + read_terms['info'].astype(str)
#     free_text = FN_entries.loc[(FN_entries['patient id']==patid) & (pd.notnull(FN_entries['free text'])),['eventdate','free text']]
#     free_text.rename(columns={'free text':'info'},inplace=True)
#     temp = pd.concat([free_text, read_terms], ignore_index=True).sort_values('eventdate')
#     display(temp)